{% extends "base.html" %}

{% block content %}

{% include "search_form.html" %}

{% if context.officer_data %}

<ul>
    
    {% for item in context.officer_data["items"] %}
    
    <li><a href="{{ item.links.company }}">{{ item.appointed_to.company_name }}</a> - from {{ item.appointed_on | format_date}} to {% if item.resigned_on %}{{ item.resigned_on | format_date}}{% else %}present{% endif %}</li>
    
    {% endfor %}
    
</ul>

<pre>{{ context.officer_data | tojson(indent=2) }}</pre>

{% endif %}


{% endblock content %}