{% extends "base.html" %}

{% block content %}

    {% include "search_form.html" %}

    {% if context.company_data %}
    
        <ul>

            {% for item in context.company_data["items"] %}
            
                <li><a href="{{ url_for('index', company_number=item.company_number) }}">{{ item.title }}</a></li>
            
            {% endfor %}

        </ul>

        <pre>{{ context.company_data | tojson(indent=2) }}</pre>
    
    {% endif %}

    {% if context.officer_data %}
    
        <ul>

            {% for item in context.officer_data["items"] %}
            
                <li><a href="{{ item.links.self }}">{{ item.title }}</a> - {{ item.description }}</li>
            
            {% endfor %}

        </ul>

        <pre>{{ context.officer_data | tojson(indent=2) }}</pre>
    
    {% endif %}

{% endblock %}